/* HEADER */

.main__container{
    font-family: var(--font-DM-sans);
    width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px; 
}

.header__navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 16px;
    margin: 12px;
    border-radius: 8px;
    background-color: var(--bg-color);
    
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .left_arrow {
    margin-right: 1.25rem;
  }

.left_arrow , .right_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50px;
    background: var(--bg-icon);
    background-color: rgba(0,0,0, 0.7);
    cursor: pointer;

}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background-color: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color:#fff;
    text-overflow: ellipsis;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header__login{
    display: flex;
    align-items: center;
}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;

}

.header__login .login{
    border-radius: 40px;
    color: #000;
    width: 100px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
}

/* PLAYLISTS */

.playlists-container{
    height: 68vh;
    font-family: var(--font-DM-sans);
    background-color: var(--bg-color);
    margin: 12px;
    padding-top: 16px;
    border-radius: 8px;
}

.main__header {
    margin: 24px;
}

.main__header h1{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 48px;
    
}

.main__header h2{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}